@import '../../../assets/css/variable/style.scss';

#customized-dialog-title {
    border-bottom: 1px solid $border-color;
}

#dialog-form {
    overflow: auto;
    margin-bottom: 55px;
}

#dialog-action {
    position: absolute;
    bottom: 0;
    width: calc(100% - 16px);
    background-color: #fff;
    z-index: 1;
    border-top: 1px solid $border-color;
    padding: 13px 0px;
}